.about{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100svh - 10rem);
    background-color: rgb(0, 0, 0);
}

.about p {
    width: 80ch;
    color: white;
    text-align: center;
     font-family: "Great Vibes", cursive;
     font-size: 2rem;
     line-height: 2;
     word-spacing: 0.5rem;
}