.home{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    min-height: calc(100svh - 10rem);
    background-color: rgb(0, 0, 0);
    background-image: url('https://images.unsplash.com/photo-1712765891464-d267877dd578?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
}

.home h1{
    color: white;
    font-size: 3rem;
     font-family: "Great Vibes", cursive;
}
.home p{
    color: white;
    font-size: 2rem;
     font-family: "Great Vibes", cursive;
}